# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride
.metadata
*.xcodeproj
*.xcworkspace
# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
pictures

# VS project files
*.sdf
*.sln
*.rc
*.vcxproj.filters
*.vcxproj.user
*.vcxproj
*.aps

#johndoe files
*.opensdf

*.cproject
*.project

x64
libpuzzle/x64
puzzlediff/x64
puzzlediff_cpp/x64
Puzzle_vs2010.sln.GhostDoc.xml
Puzzle_vs2010.suo
Puzzle_vs2010.v12.suo
libpuzzle/My Advisor XE Results - libpuzzle/
libpuzzle/My Amplifier XE Results - libpuzzle/
puzzlediff/
puzzlediff_cpp/My Advisor XE Results - puzzlediff_cpp/
puzzlediff_cpp/My Amplifier XE Results - puzzlediff_cpp/
